<!--
  Generated template for the Next2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div class="container">
    <!-- <button ion-button small color="danger" class="abs top left" (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->
    <div class="list-wrapper" [@flyInOut]="head_anim">
      <div class="timeline-header" text-uppercase text-center>
        <span>pembelajaran</span>
      </div>
      <div margin-top></div>
      <div class="list-con" *ngFor="let item of datas; let x = index; let las = last" [@flyInOut]="animating">
        <div class="conference-center-line" *ngIf="!las"></div>

        <div class="timeline-circle abs" text-center>
          <span>{{x+1}}</span>
        </div>
        <div text-capitalize class="box-con" [ngClass]="x%2==1?'left':'right'" (click)="itemClk(item.id_c, item.root_title, x%2)">
          <span>{{item.root_title}}</span>
          <span class="abs bottom" [ngClass]="x%2==1?'pl':'pr'">
            <i [ngClass]="x%2==1?'fa fa-2x fa-arrow-circle-left':'fa fa-2x fa-arrow-circle-right'"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

</ion-content>