page-home {
    ion-content {
        transition: all 1s ease-in;
    }

    .app-info {
        position: relative;
        display: flex;
        width: 400px;
        min-height: 100px;
        padding: 15px 7px;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;

        .app-img {
            margin: 0 5px;
        }

        .app-text {
            position: relative;
            width: 270px;
            min-height: 70px;
            margin: 0 5px;
        }

        .names-big {
            display: block;
            font-size: 3rem;
            text-transform: capitalize;
        }

        .names-super {
            font-size: 8rem;
            text-transform: uppercase;
        }

        .top {
            top: -8px;
        }

        .right {
            right: 0;
        }
    }
    .upper {
        height: 35%;
    }

    .bottomer {
        height: 65%;
    }

    .red {
        background-color: #ff0000 !important;
    }

    .yellow {
        background-color: #ffff00 !important;
        color: #000;
    }

    .frame-text {
        position: relative;
        padding-top: 10px;
        font-weight: bold;
        background-color: #c8c7cc;
        padding: 5px;
        min-height: 40px;
        border-left: 5px #FFAEAE solid;

        span {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .shapper {
        border-bottom-left-radius: 35px;
        border-top-right-radius: 35px;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .frame-title {
        font-size: 2rem !important;
    }

    .frame-subtitle {
        font-size: 5rem !important;
    }

    .ribbon {
        font-size: 16px !important;
        /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

        width: 100%;

        position: relative;
        background: #ba89b6;
        color: #fff;
        text-align: center;
        padding: 5px;
        /* Adjust to suit */
        /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
    }

    .bubble-blockquote {
        background: #FFD6D6;
        border: 1px solid #FFAEAE;
        border-radius: 10px;
        position: relative;
        box-shadow: 5px -5px 8px -1px rgba(199, 199, 199, 0.6);
        margin-bottom: 18px;
    }

    .bubble-blockquote:before {
        position: absolute;
        font-family: 'FontAwesome';
        content: "\f10d";
        font-size: 24px;
        color: #FF4242;
        left: 0;
        line-height: 40px;
        top: -20px;
        text-shadow: 7px 5px 10px rgba(0, 0, 0, 0.26);
    }

    .bubble-blockquote:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #FF6C6C;
        bottom: -15px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #conKls {
        top: -100%;
        opacity: 0;
    }

    .showup {
        top: 0 !important;
        opacity: 1 !important;
        transition-delay: 1s;
    }

    .slideup {
        top: -100%;
    }

    @keyframes dropShadow {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
